<h1>Kitten List</h1>

<% @kittens.each do |kitten| %>
  <li>
    <%= kitten.name %> | <%= kitten.age %> | <%= kitten.color %>
    <%= link_to 'Delete', kitten, html_options = {method: :delete} %>
  </li>
<% end %>
<h2>
  <%= link_to 'Add a new kitten', new_kitten_path %>
</h2>
  